<aside class="sidebar">
  <h2>CCE</h2>
  <nav>
    <a routerLink="/inicio" routerLinkActive="active">
      <i class="bi bi-speedometer2"></i> Dashboard
    </a>
    <a routerLink="/procesos" routerLinkActive="active">
      <i class="bi bi-gear"></i> Monitoreo Procesos
    </a>
    <a routerLink="/reportes" routerLinkActive="active">
      <i class="bi bi-file-earmark-text"></i> Reportes Generados
    </a>
    <a routerLink="/servicios" routerLinkActive="active">
      <i class="bi bi-folder"></i> Archivos Recibidos
    </a>
    <a routerLink="/logs" routerLinkActive="active">
      <i class="bi bi-terminal"></i> Logs Sistema
    </a>
  </nav>
</aside>
