<h2>Monitoreo Procesos</h2>

<div class="table-container">
  <table class="report-table">
    <thead>
      <tr>
        <th>Nombre del Proceso</th>
        <th>Estado</th>
        <th>Última Ejecución</th>
        <th>Tiempo de Proceso</th>
        <th>Próxima Ejecución</th>
        <th>Duración</th>
        <th>Resultado</th>
        <th>Ver Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="registros.length === 0">
        <td colspan="8" class="no-data">No hay registros disponibles</td>
      </tr>

      <tr *ngFor="let reporte of registros">
        <td>{{ reporte.nombreProceso }}</td>

        <!-- Estado con rectángulo -->
        <td>
          <span class="badge"
                [ngClass]="{
                  'badge-ejecucion': reporte.estado === 'En ejecución',
                  'badge-pausa': reporte.estado === 'En pausa',
                  'badge-deshabilitado': reporte.estado === 'Deshabilitado'
                }">
            {{ reporte.estado }}
          </span>
        </td>

        <td>{{ reporte.ultimaEjecucion }}</td>
        <td>{{ reporte.tiempoProceso }}</td>
        <td>{{ reporte.proximaEjecucion }}</td>
        <td>{{ reporte.duracion }}</td>
        <td>{{ reporte.resultado }}</td>
        <td><a 
              href="#" 
              (click)="reporte.estado === 'En ejecución' && verDetalle($event, reporte)" 
              [class.disabled-link]="reporte.estado !== 'En ejecución'">
              Ver detalle
            </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal-overlay" *ngIf="mostrarModal">
   <div class="modal-content">
    <h2>Detalle del proceso</h2>

    <div class="modal-body" *ngIf="procesoSeleccionado">
      <p><strong>Nombre del proceso:</strong> {{ procesoSeleccionado.nombreProceso }}</p>
      <p><strong>Estado:</strong> {{ procesoSeleccionado.estado }}</p>
      <p><strong>Última ejecución:</strong> {{ procesoSeleccionado.ultimaEjecucion }}</p>
      <p><strong>Duración:</strong> {{ procesoSeleccionado.duracion }}</p>

      <h3>Archivo Log</h3>
      <pre class="log-viewer">
        <ng-container *ngFor="let linea of logContenido">
          {{ linea }}
        </ng-container>
      </pre>
    </div>

      <div class="modal-actions">
      <button class="btn-cerrar" (click)="cerrarModal()">Cerrar</button>
    </div>
  </div>
</div>